.homepage {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  margin-top: 93px;
  width: 100%;
  max-width: 1010px;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    margin-top: 40px;
  }
}

.categoryGrid {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .categoryGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.categoryColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .categoryColumn {
    width: 100%;
  }
}

.categoryCard {
  overflow: hidden;
  display: flex;
  padding-bottom: 53px;
  flex-direction: column;
  color: #000;
  white-space: nowrap;
  text-align: center;
  letter-spacing: -0.6px;
  width: 100%;
  font: 600 30px/1.2 Inter, sans-serif;
}

.categoryCard--vehicles {
  background-color: #3ca30b;
}

.categoryCard--tools {
  background-color: #e2d908;
}

.categoryCard--rcHobby {
  background-color: #d9d9d9;
}

@media (max-width: 991px) {
  .categoryCard {
    margin-top: 40px;
    white-space: initial;
    width:50%;
    align-self: center;
  }
}

.categoryImage {
  aspect-ratio: 1.35;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.categoryTitle {
  align-self: center;
  margin-top: 32px;
}

.rcHobbyCard {
  background-color: #d9d9d9;
  display: flex;
  margin-top: 40px;
  width: 50%;
  max-width: 100%;
  padding-bottom: 47px;
  flex-direction: column;
  color: #000;
  text-align: center;
  letter-spacing: -0.6px;
  font: 600 30px/1.2 Inter, sans-serif;
}

@media (max-width: 991px) {
  .rcHobbyCard {
    margin-top: 40px;
  }
}

.disclaimer {
  color: #000;
  margin-top: 111px;
  font: 400 20px/32px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .disclaimer {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footer {
  background-color: #6cbbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: stretch;
  display: flex;
  margin-top: 42px;
  width: 100%;
  align-items: start;
  gap: 40px 100px;
  color: #000;
  letter-spacing: -0.4px;
  padding: 25px 42px 51px;
  font: 600 20px/24px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  border: 1px solid #000;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.footerTitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  flex-grow: 1;
  width: 93px;
}

.footerAddress {
  flex-grow: 1;
  width: 235px;
}

.footerContact {
  flex-grow: 1;
  width: 569px;
}

@media (max-width: 991px) {
  .footerContact {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.highlight {
  color: #625533;
}
